<!DOCTYPE html>
<html lang="sv">
  <head>

    <meta charset="UTF-8">

    <title>YelpCamp</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

  </head>

  <body>


  <% include navbar %>

  <% include flash %>

