<% include partials/header %>

  <a href="/campgrounds">Back to campgrounds</a>


  <div>

    <h1><%=campground.name%></h1>

    <img src="<%=campground.image%>" alt="">

    <p>
      <%=campground.description%>
    </p>

  </div>


<% include partials/footer %>